.App {
  /* text-align: center; */
}

.m-box1,
.m-box2 {
  padding-left: 10px;
  width: 300px;
  height: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* box-shadow: 5px 10px rgb(177, 164, 164); */
  display: flex;

  align-items: center;
  outline: none;
  border: none;
}
.box1 {
  margin-top: 200px;
  height: 200px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.add-btn {
  padding-left: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.progress-bar-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
}

.progress-bar {
  height: 20px;
  border-radius: 5px;
  background-color: #4caf50;
}
.quiz {
  padding-left: 100px;
  padding-right: 100px;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.option-t,
.option-b {
  display: flex;
  gap: 100px;
}
.option {
  cursor: pointer;
  border: 2px solid black;
  padding: 5px 20px;
  width: 100px;
  text-align: center;
}
.option:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}
.correct-answer {
  background-color: #6dbd63;
  cursor: pointer;
}

.wrong-answer {
  background-color: #f05a5a;
  cursor: pointer;
}
.playAgain {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playAgain:hover {
  background-color: red;
  color: white;
}
.nextQues {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
}
.nextQues:hover {
  color: white;
  background-color: #6dbd63;
}
.result{
   font-size: 5em;
}
@media screen and (max-width: 585px) {
  .quiz{
    padding-left:10px;
    padding-right:10px;
  }
  .options{
    flex-direction: column;
    align-items:center;
    gap: 40px
  }
  .option-b, .option-t {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .option {
    border: 2px solid #000;
    cursor: pointer;
    padding: 5px 20px;
    text-align: center;
    width: 300px;
}
  .result{
     font-size: 3em;
  }
}
